# Node dependencies
node_modules/

# Expo
.expo/
dist/
web-build/
expo-env.d.ts

# Native
.kotlin/
*.orig.*
*.jks
*.p8
*.p12
*.key
*.mobileprovision
/ios
/android

# Metro bundler
.metro-health-check*

# Debug logs
npm-debug.*
yarn-debug.*
yarn-error.*
*.log

# macOS
.DS_Store
*.pem

# Local env files
.env
.env.local
.env.*.local

# TypeScript
*.tsbuildinfo

# VSCode
.vscode/

# Test coverage
coverage/

# Build outputs
build/
out/

# Example or template apps
app-example/